.navbar {

    background: var(--marca-cinza-escuro);
    width: 100%;
    height: 70px;
}

.div-logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.logo-navbar {

    display: flex;

    height: 70px;
    width: 150px;
    margin-left: 15px;
}

.menu-navbar {

    font-family: 'Bakbak One', cursive;

    width: 35px;
    height: 30px;

}

.menu-lateral {
    display: flex;
    flex-direction: column;

    width: 160px;
    height: 1000vw;
    margin-top: 3px;

    background: var(--marca-cinza-escuro);

    border-radius: 5px;

    position: absolute;
    left: -100vw;

    transition: .7s;
}

.menu-lateral-ativo {

    transition: 0.65s;
    left: 0;
}

.menu-lateral-link {

    display: flex;

    width: 40vw;
    margin-left: 15px;
    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.menu-lateral-link:hover {

    color: var(--marca-verde);
}